.map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.results {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 320px;
    height: 480px;
    overflow-y: scroll;
}

.node .body{
  fill: #fff;
  stroke: #000;
  opacity: 1.0;
  border: 1px solid #000;
}

.node .label {
  font-size: 10px;
  font-family: sans-serif;
  fill: #000;
  cursor: default;
}

#probs {
 width: 29%;
  height: 30%;
  position: absolute;
  bottom: 1%;
  left: 0%;
  padding-top: 1%;
  padding-left: 2%;
  overflow: scroll;
}

.classify {
  margin: 20px 5px 20px 5px;
  position: static;
}

#classes {
  width: 400px;
  height: 60px;
  position: absolute;
  top: 5px;
  left: 40%;
}

#info {
  position: absolute;
  left: 32%;
  bottom: 1%;
  width: 68%;
  height: 30%;
  overflow: scroll;
  padding-top: 1%;
}

.info {
  font-family: sans-serif;
  z-index: 100;
  background-color: white;
  opacity: 0.8;
}

.edge {
  stroke: #000;
}

.leaflet-routing-container {
  display: none;
}
